<ul id="myGallery">
  <% suffix = request.xhr? ? '_m' : '' %>
  <li><%= image_tag(asset_path("slides/mountain_view#{suffix}.jpg"), title: 'Mountain View from Yard') %></li>
  <li><%= image_tag(asset_path("slides/front_view#{suffix}.jpg"), title: "Front of Cottage") %></li>
  <li><%= image_tag(asset_path("slides/side_view#{suffix}.jpg"), title: "Cottage from Yard") %></li>
  <li><%= image_tag(asset_path("slides/deck_view#{suffix}.jpg"), title: "Private Deck & BBQ") %></li>
  <li><%= image_tag(asset_path("slides/private_hot_tub#{suffix}.jpg"), title: "Private Hot Tub") %></li>
  <li><%= image_tag(asset_path("slides/kitchen#{suffix}.jpg"), title: "Full Kitchen") %></li>
  <li><%= image_tag(asset_path("slides/living_dining_area#{suffix}.jpg"), title: "Dining Area") %></li>
  <li><%= image_tag(asset_path("slides/living_area#{suffix}.jpg"), title: "Living Room") %></li>
  <li><%= image_tag(asset_path("slides/master_bedroom#{suffix}.jpg"), title: "Master Bedroom") %></li>
  <li><%= image_tag(asset_path("slides/second_bedroom#{suffix}.jpg"), title: "Second Bedroom") %></li>
  <li><%= image_tag(asset_path("slides/back_yard#{suffix}.jpg"), title: "View from Back Deck") %></li>
</ul>