<ul id="myGallery">
  <% suffix = request.xhr? ? '_m' : '' %>
  <li><%= image_tag(asset_path("slides/driveway#{suffix}.jpg"), title: "Private Driveway") %></li>
  <li><%= image_tag(asset_path("slides/dining_room#{suffix}.jpg"), title: "Dining Room") %></li>
  <li><%= image_tag(asset_path("slides/dining_room_angle2#{suffix}.jpg"), title: "Dining Table") %></li>
  <li><%= image_tag(asset_path("slides/kitchen#{suffix}.jpg"), title: "Full Kitchen") %></li>
  <li><%= image_tag(asset_path("slides/family_room#{suffix}.jpg"), title: "Family Room") %></li>
  <li><%= image_tag(asset_path("slides/living_room#{suffix}.jpg"), title: "Living Room") %></li>
  <li><%= image_tag(asset_path("slides/master_bedroom#{suffix}.jpg"), title: "Master Bedroom") %></li>
  <li><%= image_tag(asset_path("slides/master_bathroom#{suffix}.jpg"), title: "Master Bathroom") %></li>
  <li><%= image_tag(asset_path("slides/bathroom_shower#{suffix}.jpg"), title: 'Bathroom Shower') %></li>
  <li><%= image_tag(asset_path("slides/second_bedroom#{suffix}.jpg"), title: "Second Bedroom") %></li>
  <li><%= image_tag(asset_path("slides/second_bathroom_closeup#{suffix}.jpg"), title: "Second Bathroom") %></li>
</ul>