<%= content_tag(:div, '', id: 'front') unless mobile_device? %>
<%= hidden_field_tag(:base_rate, base_rate) %>
<%= hidden_field_tag(:tax_rate, tax_rate) %>
<%= hidden_field_tag(:main_pic_url, asset_path('front-main.jpg')) %>
<div style="box-shadow: white 0 -50px 50px 35px">
  <div class="wrapper medium">
    <h2 class="c light-gray" style="margin-top: 0;">
      Welcome to Hale Moana
    </h2>

    <p>
      Far from the crowds and Condos. Far from the noise and tourist traps. You find the Old Hawaii of HANA, a small community overlooking beautiful Hana Bay on the windward east end of Maui. Hana is cooled by the trade winds that blow across the Pacific and nourish us with evening showers that make this part of Maui lush and tropical.
      As you travel the magical 'road to Hana' you leave the real world behind and slowly enter the land of old Hawaii, with waterfalls, majestic coastal views and jungle rain forests. By the time you arrive in Hana you will sense a slight change. You will feel a slower pace, more peaceful and quiet.
    </p>

    <p>
      Hale Moana is a beautiful newer 2 bedroom 2 bathroom home. It is situated on 2 acres of tropical flowers, foliage and fruit trees. The home features a full kitchen with granite counters, gas stove, microwave, coffee maker, toaster oven, Cable TV, Wireless internet,  a large master bath with a walk in tile shower and separate soaking tub. Both bedrooms have a king size bed. There is a large lanai where you can enjoy the cool breeze, have an outdoor meal or simple relax and read a book.
    </p>

    <p>
      We are located just 3 miles before the actual town of Hana, and a short drive to <a href="https://hawaiistateparks.org/parks/maui/waiʻanapanapa-state-park/" target="_blank">Waianapanapa State Park</a>. Hale Moana is located in a safe, quite neighborhood and a short dive (7-15 min) to town and many popular attractions.
    </p>

    <p>
      The home is perfect for couples or small families (<b>4 people max</b>). We do not allow group gatherings, parties, or animals. It is a quite residential neighborhood and we are very respectful of our neighbors. We do have an onsite manager who is available should you have any questions or problems.
    </p>
  </div>
</div>

<%= section_header('Reservations') %>

<div class="wrapper medium-minor mb20">
	<p class="medium">
		Planning a trip to the east side of Maui? Be sure to book your stay with us as early as possible.
		We are usually booked months in advance.
	</p>

	<h4>Rates</h4>
	<ul class="pad medium-minor">
		<li>Base rate is $<%= base_rate %> for 2 people</li>
    <% if Date.today <= Date.parse("April 1st, 2018") %>
        <li>Winter Rate is $285.00 for 2 people (<b>Dec 18th - April 1st</b>)</li>
    <% end %>
    <li>$25.00 for each additional person (<b>4 person max</b>).</li>
    <li>$<%= cleaning_fee %> Cleaning fee</li>
    <li>For the rate of $<%= base_rate %> per night + tax for 2 people, you would have the use of just one of the bedrooms and bathrooms. If there are 2 in your party but you need both bedrooms/bathrooms, <b>please notify us ahead of time</b>, as it is an additional $25 per night + tax.</li>
		<li>We have a <b>2 night minimum</b> for advance reservations. We will accept a 1 night stay just 7 days in advance if we have availability.</li>
    <li>Nightly rate for <%= text_field_tag(:people_count, 2, class: 'instep', maxlength: 2) %> people
      <span>+<%= (tax_rate * 100).round(2) %>% tax</span>
      <span>+<%= cleaning_fee %> cleaning fee</span> =
      <span class="bold" id="rate_result">$<%= ((tax_rate + 1) * base_rate.to_f).round(2) + cleaning_fee.to_f %></span></li>
	</ul>

	<h4>Availability</h4>

	<p class="medium">
    Check availability for your trip at <a href="https://www.vrbo.com/1170716" target="_blank">https://www.vrbo.com/1170716</a>
  </p>

	<h4>Reservation Policies</h4>

	<ul class="pad medium-minor">
		<li>
			<b>Deposits:</b> A 25% deposit is required to reserve the cottage and the balance is due 30 days in advance.
		</li>

		<li style="margin-top: -15px;">
			<b>Payment:</b> We accept Visa, MasterCard, American Express and Discover.
			<span><%= image_tag(asset_path('visa_mastercard_american_express_discover.png'), style: 'position: relative;top: 13px;') %></span>
		</li>

		<li>
			<b>Check-in:</b> <br/>
			Check-in time is 3:00 p.m. <br/>
			Check-out time is 11:00 a.m.
		</li>

    <li>
      <b>Laundry facilities:</b> Available free of charge for guests staying 3 or more nights. Please contact the manager (Rebecca) to schedule a time to do laundry.
    </li>

		<li>
			<b>Cancellation:</b>
      A full refund, less a 25% cancellation fee, will be given for cancellations made <b>30 days</b> or more prior to arrival. If you cancel less than 30 days prior to your arrival or depart earlier than your registered check out date, we will refund the amount that you paid less a 25% cancellation fee only if we are able to rebook the entire stay at Hale Moana.

      <p>If anything is missing or damaged after you check out, we will charge your credit card for the cost of the repair and/or replacement of the item. Please let us know if there are any accidents or problems.</p>
		</li>

		<li>
			<b>Special Terms:</b>
      Rates and policies are subject to change. To provide a smoke free environment for our guests, smoking is only allowed outside. No pets are allowed at the house. If you have a licensed service dog please contact us ahead of time, as we do have a dog on the property.
			<br/>

			<p><a href="#contact" class="linked scroll-to">Make a reservation inquiry.</a></p>
		</li>
	</ul>
</div>
<%= section_header('Photos') %>
<div class="wrapper medium-minor" id="photos_section">
	<% if mobile_device? %>
		<p>
			It looks like you're mobile, so we didn't load the pictures right
			away. <%= link_to('Load photos now!', 'javascript:;', class: 'linked', id: 'load_photos') %>
		</p>

		<div id="gallery_ph"></div>
	<% else %>
		<div id="gallery_ontainer" style="height: 615px;">
			<%= render('photos') %>
		</div>
	<% end %>
</div>
<%= section_header('Contact') %>
<div class="wrapper medium-minor">
	<div class="fl w49">
		<p class="form-text">
			Submit a reservation inquiry using the form below.
		</p>

		<div id="form_success_box" class="alert alert-info" style="display: none;">
			<b>Success!</b> We've received your inquiry and will get back to you at our earliest convenience.
		</div>
		<div id="form_error_box" class="alert alert-block alert-error fade" style="display: none;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4 class="alert-heading">Oops!</h4>

			<p class="error-message"></p>
		</div>
		<div class="pad10 no-pad-mobile">
			<%= render('contact/form') %>
		</div>
	</div>
	<div class="fr w49">
		<p>
			Need help right away? Contact us directly.
		</p>

		<div class="pad10">
			<p class="medium-major">
				Phone: (808) 248-8980 <br/>
				Toll Free: 1-800-327-8097
			</p>

			<p class="medium-major">
				Email: <a href="mailto:hanamauirentals@gmail.com" class="linked">hanamauirentals@gmail.com</a>
			</p>
		</div>
		<div>
			<%= image_tag(asset_path('hamoa_overview.png'), width: '310') %>
		</div>
	</div>
</div>
<%= section_header('Hana') %>
<div class="wrapper medium-minor">
	<p class="medium">
		Hana is a small town located on the <b>east side of Maui</b>. It is home to some of the
		<a href="http://xfinity.comcast.net/slideshow/news-bestbeaches/7/" target="_blank" class="linked">
			world’s most beautiful beaches</a>,
		breath taking waterfalls, and majestic coastlines. From Kahului airport it is about a 50 mile drive along the
		winding coastline. Along the way you can enjoy hiking trails, beautiful overlooks, and incredible waterfalls.
	</p>

	<p>
		Hana town is limited when it comes to night life and dining options. There is one gas station and two small
		stores (<b>closes at 7:30 PM</b>). If you are staying for several nights, we recommend buying groceries in
		Kahului
		before driving to Hana. Travaasa Hotel has a bar and restaurant, although it is a bit pricey, and so does
		the Hana Ranch Restaurant (also pricey). There are a several locally owned eateries and lunch
		wagons around town. A local favorite is
		<a href="http://www.yelp.com/biz/thai-food-by-pranee-hana" target="_blank" class="linked" title="view Pranee's on Yelp">Pranee's</a>,
		which has excellent Thai food. Checkout
		<a href="http://www.yelp.com/search?find_desc=&find_loc=H%C4%81na%2C+HI&ns=1&ls=2b7c66da1def68e9" target="_blank" class="linked">Hana
			on Yelp</a>
		for a list of popular activities and food options.
	</p>

	<p>
		There are a variety of outdoor activities, some of which we’ve listed below. It is nice to have a couple of
		days to
		spend in Hana because it is a long trip out here. That way you have some time to just relax and explore this
		side of
		the island.
	</p>

	<p>
		For more information on Hana please visit
		<a target="_blank" href="http://www.hanamaui.com" class="linked">hanamaui.com</a>
	</p>
	<h4>Activities</h4>
	<ul class="pad">
		<li>Go hang gliding down the road (1 minute away):
			<a target="_blank" href="http://www.hangglidingmaui.com" class="linked">hangglidingmaui.com</a></li>
		<li>Spelunking in lava tube (2 minutes away):
			<a target="_blank" href="http://www.mauicave.com" class="linked">mauicave.com</a>
		</li>
		<li>Go kayaking, snorkeling, surfing, or free diving (10 minutes away):
			<a target="_blank" href="http://www.hanabaykayaks.com" class="linked">hanabaykayaks.com</a></li>
		<li>Guided hike and taro patch tour at Kapahu Living Farm (45 minutes away):
			<a target="_blank" href="http://kipahulu.org/hike.html" class="linked">kipahulu.org/hike.html</a></li>
		<li>Ohe’o (7 Sacred Pools) and bamboo forest (45 minutes away):
			<a target="_blank" href="http://www.nps.gov/hale/index.htm" class="linked">nps.gov/hale/</a></li>
	</ul>
	<h4>Location</h4>

	<p>The map below shows the route from the Kahului Airport (OGG) to the Hale Moana (Approximately 52 miles).</p>
	<% unless Rails.env.development? %>
		<iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d238610.7238657256!2d-156.3722470141209!3d20.860254975716938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x7954d2b01b8e0419%3A0xc35ea962dd1a9041!2sKahului+Airport%2C+1+Kahului+Airport+Rd%2C+Kahului%2C+HI+96732!3m2!1d20.896791999999998!2d-156.43293799999998!4m5!1s0x7954ada37cc29da1%3A0xb9089f2ff788b1df!2sHana&#39;s+Tradewind+Cottages%2C+135+Alalele+Rd%2C+Hana%2C+HI+96713!3m2!1d20.790406!2d-156.01775899999998!5e0!3m2!1sen!2sus!4v1394938868443" width="100%" height="450" frameborder="0" style="border:0"></iframe>
	<% end %>
</div>